Django==5.0.6
djangorestframework==3.18.0
djangorestframework-simplejwt==5.3.1
djangorestframework-camel-case==1.4.2
django-cors-headers==4.3.1
django-filter==24.2
psycopg[binary]==3.2.10
python-decouple==3.8
Pillow==11.3.0
gunicorn==22.0.0
drf-spectacular==0.27.2
openpyxl==3.1.2
reportlab==4.2.0
